body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcb05;
    color: #2a75bb;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #2a75bb;
}

main {
    padding: 20px;
}

.pokemon-card {
    display: inline-block;
    width: 150px;
    text-align: center;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
}

.pokemon-card img {
    max-width: 100%;
}

footer {
    background-color: #2a75bb;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}